@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model json_mvc.item

@using (Html.BeginForm())
{
    <div>Enter Item name</div>
    @Html.TextBoxFor(@model => model.Itemname);
    <div>Enter Item price</div>
    @Html.TextBoxFor(@model => model.Itemprice);
    <button>SUBMIT</button>
}